/* GENERAL */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* NAVBAR */
nav {
    background: #555;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background: #222;
}

/* MAIN */
main {
    padding: 20px;
    width: 80%;
    margin: auto;
    background: white;
    margin-top: 20px;
    border-radius: 10px;
}

/* FOOTER */
footer {
    margin-top: 30px;
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
}
